<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843206911241-0rgf8c6v2b4qp8bfnki7bb6g6bu4f0l9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843206911241-0rgf8c6v2b4qp8bfnki7bb6g6bu4f0l9</string>
	<key>API_KEY</key>
	<string>AIzaSyCdP7pQ5OXgwmq2jz36D_M2sP36ozWUzbI</string>
	<key>GCM_SENDER_ID</key>
	<string>843206911241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.uk.neurify.goat</string>
	<key>PROJECT_ID</key>
	<string>goat-90c22</string>
	<key>STORAGE_BUCKET</key>
	<string>goat-90c22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843206911241:ios:66f536499091708a16dfd8</string>
</dict>
</plist>